.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}

#chicken {
    width: 60px;
    height: 60px;
    background-image: url(img/chicken.png);
    background-size: 60px 60px;
    position: relative;
    top: 140px;
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(img/pngwing.com.png);
    background-size: 20px 40px;
    position: relative;
    top: 100px;
    left: 580px;
    animation: catMov 2s infinite linear;
}

#

@keyframes catMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 160px;
    }
    30% {
        top: 140px;
    }
    50% {
        top: 90px;
    }
    80% {
        top: 140px;
    }
    100% {
        top: 160px;
    }
}